@charset "utf-8";

#map{
	width: 658px;
	height: 448px;
	border: 1px solid #ccc;
}
.section{
	margin-top: 22px;
}
.map-comment{
	text-align:right;
	padding-top:12px;
	font-size:85%;
}
.fz11pt{
	font-size:11pt !important;
}
th{
	font-size:11pt;
}